h1 {
  text-align: center;
  color:#710B79;
}

/* .body{
  min-height: 100vh;
} */

.logo{
  width: auto;
  height: 210px;
  text-align: center;
  border: 5px solid #5BC7E1;
  background-color:  #710B79;
  /* border-radius: 8px; */
}

.pictures{
  height: 200px;
  object-fit: fill;
}

.footer{
  width: auto;
  height: 50px;
  text-align: center;
  border: 5px solid #5BC7E1;
  background-color:  #710B79;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  /* border-radius: 8px; */
}

.footer-content{
  color: white;
  text-align: center;
}